@font-face {
    font-family: alwyn-regular;
    src: local(alwyn-regular),url(alwyn-regular.ttf)
}

* {
    font-family: alwyn-regular;
}

/*style css*/
p{
    text-align: center;
}
#L1{
    color: #139913;
}
#L3{
    color: rgb(192, 6, 183);
}
#L5{
    color: rgb(255, 22, 22);
}

.arretbus
{
    width: 300px;
    height: 200px;
}

.boulangerie
{
    width: 300px;
    height: 200px;
}

.carrefour
{
    width: 300px;
    height: 200px;
}

.mapcci
{
    width: 350px;
    height: 200px;
}
.ccienter

{
    width: 300px;
    height: 200px;
}

.list-group-item {
    background-color:#F9A02E;
    color: white;
}

a {
    background-color:#F9A02E;
    color: white;
}

.lacapsule
{
    width: 150px;
    height: 100px;
}
.wcsenter
{
    width: 300px;
    height: 200px;
}

a:link {
    text-decoration: none;
}

.navitem {
    list-style: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

header {
    background-color:#F9A02E;
    color: white;
}

#navbarNav {
    background-color:#F9A02E;
    color: white;
}

body {
    position: relative;
}

.arrowUp {
    color: white;
    position: fixed;
    z-index: 2;
    right: 5px;
    top: 40%;
    font-size: 4em;
    outline-style: none;
}

.arrowUp:link {
    outline-style: none;
}

.arrowUp:visited {
    outline-style: none;
}

.arrowUp:hover {
    outline-style: none;
}

.arrowUp:active {
    outline-style: none;
}

.navbar {
    background-color: #F9A02E;
}
