p{
    text-align: center;
}
#L1{
    color: #139913;
}
#L3{
    color: rgb(192, 6, 183);
}
#L5{
    color: rgb(255, 22, 22);
}
*{
    font-family: 'Libre Baskerville', serif;
}
footer{
    background-color: rgb(36, 36, 36);
    color: rgb(144, 183, 255);
}
hr{
    background-color: rgb(255, 0, 0);
    height: 2px;
}
body{
    background-color: rgb(201, 201, 201);
}

.map
{
    width: 650px;
    height: 450px;
}
.arretbus
{
    width: 350px;
    height: 200px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    position: relative;
}

.arrowUp {
    color: black;
    position: fixed;
    z-index: 2;
    right: 5px;
    top: 40%;
    font-size: 4em;
    outline-style: none;
}

.arrowUp:link {
    outline-style: none;
    border-radius: 0.5em;
}

.arrowUp:visited {
    outline-style: none;
    border-radius: 0.5em;
}

.arrowUp:hover {
    outline-style: none;
    border-radius: 0.5em;
}

.arrowUp:active {
    outline-style: none;
    border-radius: 0.5em;
}
