p{
    text-align: center;
}
#L1{
    color: #139913;
}
#L3{
    color: rgb(192, 6, 183);
}
#L5{
    color: rgb(255, 22, 22);
}
*{
    font-family: 'Libre Baskerville', serif;
}
footer{
    background-color: rgb(36, 36, 36);
    color: rgb(144, 183, 255);
}
hr{
    background-color: rgb(255, 0, 0);
    height: 2px;
}
.container1{
    background-image: url("img_tree.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
